.faq {
  // .faq__container

  &__container {
  }

  // .faq__body

  &__body {
    display: flex;
    justify-content: space-between;

    @media (max-width: $tablet) {
      flex-direction: column;
    }
  }

  // .faq__left

  &__left {
    width: 100%;
    margin: 0 50px 0 0;

    @media (max-width: $tablet) {
      margin: 0 0 20px 0;
    }
  }

  // .faq__title

  &__title {
    @media (max-width: $mobile) {
      margin-bottom: 5px;
    }
  }

  // .faq__spollers

  &__spollers {
  }

  // .faq__right

  &__right {
  }

  // .faq__buttons

  &__buttons {
    display: flex;
    align-items: center;
    height: max-content;

    @media (max-width: $notebook) {
      flex-direction: column;
      align-items: flex-start;
    }
    @media (max-width: $tablet) {
      flex-direction: unset;
    }
    @media (max-width: $mobile) {
      flex-direction: column;
      align-items: center;
    }
  }

  // .faq__button

  &__button {
    @media (max-width: $mobile) {
      width: 100%;
      justify-content: center;
    }
    &:not(:last-child) {
      margin: 0 10px 0 0;

      @media (max-width: $notebook) {
        margin: 0 0 10px 0;
      }
      @media (max-width: $tablet) {
        margin: 0 10px 0 0;
      }
      @media (max-width: $mobile) {
        margin: 0 0 10px 0;
      }
    }
  }
}
.title {
}
.faq-spollers {
  width: 100%;
  max-width: 1050px;
  // .faq-spollers__item

  &__item {
  }

  // .faq-spollers__title

  &__title {
    font-size: 18px;
    font-weight: 500;
    white-space: normal;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border-bottom: 1px solid #e1e2e3;
    padding: 20px 20px 20px 0;

    @media (max-width: $mobile) {
      font-size: 16px;
    }

    &::after {
      content: "";
      background: url("@img/icon/icon_arrow-spoller.svg") center center
        no-repeat;
      background-size: 100%;
      width: 16px;
      height: 9px;
      flex-shrink: 0;
      margin-left: 20px;
      transition: all 0.5s;
    }

    &._spoller-active {
      &:after {
        transform: scale(1, -1);
        transition: all 0.5s;
      }
    }
  }

  // .faq-spollers__body

  &__body {
    line-height: 1.9;
    margin: 20px 0 0 0;
  }
}
.button {
  // .button_theme

  &_theme {
  }

  // .button_theme

  &_theme {
  }
}
