.video {
  // .video__container

  &__container {
  }

  // .video__header

  &__header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin: 0 0 38px 0;

    @media (max-width: $mobile) {
      margin: 0 0 20px 0;
    }
  }

  // .video__title

  &__title {
    font-family: Oswald;
    font-size: 30px;
    line-height: 1.66;
    text-transform: uppercase;
    max-width: 1180px;

    @media (max-width: $mobileBig) {
      font-size: 24px;
    }
  }

  // .video__logo

  &__logo {
    max-width: 184px;
    margin-left: 80px;

    @media (max-width: $tablet) {
      display: none;
    }
  }

  // .video__body

  &__body {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;

    @media (max-width: $tablet) {
      flex-direction: column;
      align-items: center;
    }
  }

  // .video__video

  &__video {
    width: 100%;
    height: 650px;
    max-width: 1180px;
    margin: 0 50px 0 0;
    border-radius: 150px 10px;
    overflow: hidden;

    @media (max-width: $notebook) {
      height: 500px;
    }
    @media (max-width: $tablet) {
      height: 400px;
      margin: 0 0 20px 0;
    }
    @media (max-width: $mobile) {
      border-radius: 10px;
      height: 300px;
    }
    @media (max-width: $mobileBig) {
      height: 250px;
      margin: 0 0 10px 0;
    }

    & iframe {
      width: 100%;
      height: 100%;
    }
  }

  // .video__text

  &__text {
    text-align: right;
    @media (max-width: $tablet) {
      text-align: left;
    }
  }

  // .video__desc

  &__desc {
    color: $secondaryThreeColor;
    line-height: 1.66;
    max-width: 350px;
    margin: 0 0 30px 0;

    @media (max-width: $tablet) {
      max-width: 100%;
    }
    @media (max-width: $mobileBig) {
      margin: 0 0 20px 0;
    }
  }

  // .video__button-more

  &__button-more {
    margin: 0 0 16px auto;
    @media (max-width: $tablet) {
      margin: 0 auto 16px 0;
    }
    @media (max-width: $mobileSmall) {
      width: 100%;
      justify-content: center;
      margin: 0 auto 10px 0;
    }
  }

  // .video__button-contact

  &__button-contact {
    margin: 0 auto 0 0;
    @media (max-width: $tablet) {
      text-align: left;
    }
    @media (max-width: $mobileSmall) {
      width: 100%;
      justify-content: center;
    }
  }
}
.button {
  // .button_theme

  &_theme {
  }

  // .button_theme

  &_theme {
  }
}
