// Заголовки, общие БЄМ блоки и проче...
section {
  padding: 50px 0;

  @media (max-width: $mobile) {
    padding: 25px 0;
  }
}
.title {
  font-family: Oswald;
  font-size: 36px;
  line-height: 1.33;
  text-transform: uppercase;
  margin-bottom: 30px;

  @media (max-width: $tablet) {
    font-size: 30px;
  }
  @media (max-width: $mobile) {
    margin-bottom: 20px;
  }
  @media (max-width: $mobileBig) {
    font-size: 24px;
    line-height: 1.5;
  }
}
a[href^="tel"],
button,
.header__elem-taxi {
  white-space: nowrap;
}
button:not([class]) {
  font-size: 14px;
  font-weight: 500;
  padding: 15px 30px;
  border-radius: 30px 3px 30px 3px;
  transition: 0.3s ease;
}
.button {
  display: flex;
  width: max-content;
  font-size: 14px;
  font-weight: 500;
  padding: 15px 30px;
  border-radius: 30px 3px 30px 3px;

  transition: 0.3s ease;

  // .button_theme_gradient

  &_theme_gradient {
    color: #fff;
    background: (
      linear-gradient(255deg, #cc675b 27.22%, #cc675b 27.22%, #2c6890 76.12%)
    );
  }
  &_theme_red {
    color: #fff;
    background: $secondaryOneColor;
  }
  &_theme_outline {
    color: $secondaryTwoColor;
    border: 1px solid $secondaryTwoColor;

    @media (hover: hover) and (min-width: $tablet) {
      &:hover {
        color: $secondaryOneColor;
        border: 1px solid $secondaryOneColor;
      }
    }
  }
}
.blue {
  color: $secondaryTwoColor;
}
.red {
  color: $secondaryOneColor;
}
main p:not([class]) {
  line-height: 1.85;
  margin-bottom: 20px;
}
main ul:not([class]) {
  margin-bottom: 20px;
}
main ul li:not([class]) {
  position: relative;
  line-height: 1.85;
  padding-left: 16px;
  margin-bottom: 10px;

  &::before {
    content: "";
    position: absolute;
    top: 12px;
    left: 0;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: #000;
  }
}
main ol li:not([class]) {
  line-height: 1.85;
  margin: 0 0 10px 16px;
}
input[type="submit"] {
  cursor: pointer;
}
.input {
  font-size: 14px;
  color: $secondaryThreeColor;
  border-radius: 30px 3px;
  border: 1px solid #e1e3e5;
  background: #fff;
  padding: 20px 30px;

  outline: 0;
  outline-offset: 0;

  @media (max-width: $mobile) {
    padding: 15px 30px;
  }
}
