@use "sass:math";

// Подключение миксинов ===========================================================================================================================================================================================================================================================================
@import "base/mixins";

// Подключение шрифтов ===========================================================================================================================================================================================================================================================================
//&display=swap - добавить при подключении через плагин

@import url(https://fonts.googleapis.com/css?family=Open+Sans:regular,500,600&display=swap);
@import url(https://fonts.googleapis.com/css?family=Oswald:regular,500&display=swap);

// Подключить если есть локальные файлы шрифтов
//@import "fonts/fonts";

// Подключение иконочных шрифтов ==============================================================================================================================================================================================================================================================================
// Подключить если есть файл иконочного шрифта
//@import "fonts/icons";

// ============================================================================================================================================================================================================================================================================================================================================================================================
// Настройки шаблона ============================================================================================================================================================================================================================================================================================================================================================================================
// ============================================================================================================================================================================================================================================================================================================================================================================================

// Переменные
:root {
  --main-color: #000; // Цвет шрифта по умолчанию
  --secondary-one-color: #d0675a; // Цвет оранжевый
  --secondary-two-color: #246893; // Цвет синий
  --secondary-three-color: #808080; // Цвет серый
  --button-hover-color: #f0f2f4; // Цвет серый
  --border-radius: 10px; // Border-radius
}

// Шрифт по умолчанию ==============================================================================================================================================================================================================================================================================
$fontFamily: "Open Sans";
$fontSize: rem(16); // где 16(px) - размер шрифта по умолчанию из макета

// Основные цвета
$mainColor: var(--main-color); // Цвет шрифта по умолчанию
$secondaryOneColor: var(--secondary-one-color); // Цвет оранжевый
$secondaryTwoColor: var(--secondary-two-color); // Цвет синий
$secondaryThreeColor: var(--secondary-three-color); // Цвет серый
$buttonHoverColor: var(--button-hover-color); // Цвет кнопок hover
$borderRadius: var(--border-radius); // Border-radius

// Настройки адаптивной сетки ===============================================================================================================================================================================================================================================================================================

// Минимальная ширина страницы
$minWidth: 320;
// Ширина полотна (макета)
$maxWidth: 1920;
// Ширина ограничивающего контейнера (0 = нет ограничения)
$maxWidthContainer: 1584;
// Общий отступ у контейнера
// (30 = по 15px слева и справа, 0 = нет отступа)
$containerPadding: 60;
$containerPaddingMobile: 40;
$containerPaddingMobileSmall: 24;

// Ширина срабатывания первого брейкпоинта
$containerWidth: $maxWidthContainer + $containerPadding;

// Брейк-поинты
$pc: em(
  $containerWidth
); // ПК, ноутбуки, некоторые планшеты в горизонтальном положении
$notebook: em(1439.98); // Ноутбук
$tablet: em(991.98); // Планшеты, некоторые телефоны в горизонтальном положении
$mobile: em(767.98); // Телефоны L
$mobileBig: em(574.98); // Телефоны M
$mobileSmall: em(479.98); // Телефоны S

// Тип адаптива:
// 1 = отзывчивость (у контейнера нет брейкпоинтов),
// 2 = по брейк-поинтам (контейнер меняет свою ширину по брейк-поинтам)
$responsiveType: 1;

// ============================================================================================================================================================================================================================================================================================================================================================================================
// ============================================================================================================================================================================================================================================================================================================================================================================================

// Обнуление ============================================================================================================================================================================================== =============================================================================================== ===============================================================================================
@import "base/null";

// Стили тега BODY ============================================================================================================================================================================================================================================================================================================================================================================================

body {
  // Скролл заблокирован
  .lock & {
    overflow: hidden;
    touch-action: none;
  }
  // Сайт загружен
  .loaded & {
  }
}

// Оболочка wrapper ============================================================================================================================================================================================================================================================================================================================================================================================================================================
.wrapper {
  line-height: normal;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  //   overflow: hidden;
  // Прижимаем footer
  > main {
    flex: 1 1 auto;
  }
  // Фикс для слайдеров
  > * {
    min-width: 0;
  }
}
// Ограничивающий контейнер ======================================================================================================================================================================================================================

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/
@if ($responsiveType==1) {
  // Отзывчивая
  [class*="__container"] {
    @if ($maxWidthContainer>0) {
      max-width: rem($maxWidthContainer);
      box-sizing: content-box;
      margin: 0 auto;
    }
    @if ($containerPadding>0) {
      padding: 0 rem(math.div($containerPadding, 2));

      @media (max-width: $tablet) {
        padding: 0 rem(math.div($containerPaddingMobile, 2));
      }
      @media (max-width: $mobile) {
        padding: 0 rem(math.div($containerPaddingMobileSmall, 2));
      }
    }
  }
} @else {
  // По брейк-поинтам
  [class*="__container"] {
    margin: 0 auto;
    @if ($maxWidthContainer>0) {
      max-width: rem($maxWidthContainer);
      box-sizing: content-box;
    } @else {
      @if ($containerPadding>0) {
        padding: 0 rem(math.div($containerPadding, 2));
      }
    }
    @media (max-width: $pc) {
      max-width: rem(970);
    }
    @media (max-width: $tablet) {
      max-width: rem(750);
    }
    @media (max-width: $mobile) {
      max-width: none;
      @if ($containerPadding>0 and $maxWidthContainer>0) {
        padding: 0 rem(math.div($containerPadding, 2));
      }
    }
  }
}

// Подключение базовых стилей, шаблонов (заготовок) и вспомогательных  классов
// Для подключения/отключения конкретных стилей смотри base.scss
@import "base";

// Подключение стилей общих элементов проекта
@import "common";

// Подключение стилей отдельных блоков
@import "header";
@import "footer";

// Подключение стилей отдельных страниц
@import "home";

// Подключение стилей отдельных секций
@import "sections/main";
@import "sections/video";
@import "sections/our-clinic";
@import "sections/promotions";
@import "sections/services-desc";
@import "sections/stages";
@import "sections/price";
@import "sections/staff";
@import "sections/license";
@import "sections/pay-attention";
@import "sections/conditions";
@import "sections/services-areas";
@import "sections/faq";
@import "sections/contacts";
@import "sections/recommendations";

@import "sections/service-main";
@import "sections/service-pinned";
@import "sections/numbers";
@import "sections/complex-approach";
@import "sections/service-slider";
@import "sections/photo";